<!DOCTYPE html>
<html>
<head>
  <title><%= @title.nil? ? "Rails Tutorial" : @title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/partials/shim' %>
</head>
<body>

<%= render 'layouts/partials/header' %>

<div class="container">
	<%= yield %>
</div>
<!--/.container-->

<div class="container">
	<%= render 'layouts/partials/footer' %>
</div>
<!--/.container-->


</body>  
</html>
